<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Tech Blog</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.css"
    />
    <link rel="stylesheet" href="/stylesheet/app.css" />
  </head>
  <body>
    <div class="ui fixed inverted menu">
      <div class="ui container">
        <div class="header item"><i class="code icon"></i>Tech Blog</div>
        <a href="/" class="item">Home</a>
        <a href="/auth/logut" class="item">Log Out</a>
      </div>
    </div>
    <hr />
    <hr />
    <hr />
    <hr />
    <hr />
    <hr />
    <div class="ui main text container">
      <header>
        <h1>Login using...</h1>
      </header>
      <main>
        <button class="ui google plus button">
          <i class="google plus icon"></i>Google
        </button>
      </main>
    </div>
  </body>
</html>
